body {
  width: 1200px;
  margin: 50px auto;
  position: relative;
}

.App {
  overflow: hidden;
}

.squares {
  display: flex;
  border: 1px solid black;
  width: 770px;
  align-items: center;
}

.squares .active {
  width: 300px;
  height: 300px;
}

.square { 
  width: 200px;
  height: 200px;
  flex-shrink: 0;  
  margin: 10px;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}