body {
  width: 1200px;
  margin: 50px auto;
  position: relative;
}

.App {
  overflow: hidden;
}

.squares {
  display: flex;
  border: 1px solid black;
  width: 770px;
  align-items: center;
}

.squares .active {
  width: 300px;
  height: 300px;
}

.square { 
  width: 200px;
  height: 200px;
  flex-shrink: 0;  
  margin: 10px;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

input {
  padding: 10px;
  border: none;
  background-color: rgba(178, 176, 176, 0.3);
}

input:focus-visible {
  outline: none;
  background-color: rgba(178, 176, 176, 0.7);
}

button {
  padding: 10px;
  border: none;
  background-color: rgba(178, 176, 176, 0.3);
  margin-left: 5px;
  cursor: pointer;
}